@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway');

body {
  font-family: 'Raleway', sans-serif;
  background-color:#F0F0F0;
}

*{
  box-sizing: border-box;
}

p{
  @media #{$media-tablet} {
    margin-top: 7px;
    margin-bottom:7px;
    font-size: 80%;
  }  
  @media #{$media-phone}{
    font-size:70%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}


