.wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    transition: width 1s;

    @media #{$media-desktop} {
		  width: 700px;
		}

		@media #{$media-tablet} {
		  width: 500px;
		}

		@media #{$media-phone} {
		  width: 290px;
		}
}

.container{
	min-height: 100vh;
	padding: 16px 32px;
	margin: 32px auto;
}

.l-left{
	float:left;
}

.l-right{
	float:right;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.pad-right{
	padding-right: 10px;
}

.pad-left{
	padding-left: 15px;
}
//================================================================

.app{
	display: grid;
	grid-template-rows:auto min(100%) auto;
}

.header{
	// background-color:$color3;
	width:100%;
	box-shadow: 0px 7px 20px -8px rgba(0,0,0,0.60);
	border-radius: 0 0 30% 30%;
	padding: 10px;
	z-index: 10;
	
	h1{
		font-size:45px;
		position: relative;

		sub{
			font-size:20px;
			position: absolute;
			left:15px;
		}

		@media #{$media-phone} {
		  font-size:25px;

		  sub{
		  	font-size:15px;
		  	left:4px;
		  }
		}
	}

	ul{
		list-style-type: none;
		margin-top: 50px;
    overflow: hidden;
    display:inline-block;

    @media #{$media-phone} {
		  margin-top: 0px;
		  padding-left: 0;
		}
	}

	li{
		display: inline;
    text-align: center;
    padding: 20px;
    a:link{
    	text-decoration: none;
    	color:black;
    }
    @media #{$media-phone} {
		  padding: 10px;
		}
	}
}


.footer{
	display: block;
	width: 100%;
	padding: 20px;
	background-color:$primary-color;
	color: white;

	ul{
		list-style-type: none;
		padding-left: 10px;
	}

	li{	
		margin: 10px 0;
		a:link{
			text-decoration: none;
			color:white;
		}
	}



	@media #{$media-phone} {
	  font-size:$phone-font;
	}
}

.blog{
	display: grid;
	grid-gap:1em;
	justify-contents: start;

	@media #{$media-phone} {
	  grid-gap:0.5em;
	}
}

.addpost{
	// box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
	// border-radius: 10px;

	h1{
		text-align: center;
	}

	label{
		display: inline-block;
		min-width: 100px;
		vertical-align: top;
		margin-top: 25px;
	}

	input, textarea{
		min-width: 80%; 
		border:none;
		padding: 10px;
		margin: 16px auto;
	}

	input[type="button"]{
		min-width: 97%;
		background-color: $secondary-color;
		color:white;
		cursor: pointer;

		&:hover{
			opacity: 0.6;
		}
	}

	textarea{
		max-width: 80%;
	}	

	@media #{$media-tablet} {
		label{
			margin-top: 10px;
		}

		input, input[type="button"]{
			min-width: 100%;
		}

		textarea{
			min-width: 100%;
		}
	}
}


.contact{
	h1{
		text-align: center;

		i{
			display: inline-block;
		}
	}

	img{
		min-width: 90%;
		height: 200px;
		object-fit: cover;
		display: block;
		margin:10px auto;
	}

	i{
		display: inline-block;
		width: 50px;
		text-align: center;
		vertical-align: middle;
	}

	p{
		display:inline-block;
		margin:16px auto;
	}

	@media #{$media-phone} {
	  i{
	  	display: block;
	  }
	  p{
	  	margin-left: 20px;
	  }
	}
}

.detail-post{
	text-align: justify;

	h1{
		font-size: 50px;
	}

	img{
		display: block;
		min-width: 90%;
		height: 250px;
		object-fit:cover;
		margin: 32px auto;
	}

	p{
		display: block;
		margin:16px auto;
		line-height: 1.5em;
	}

	@media #{$media-phone} {
		h1{
			font-size: 25px;
		}

	  img{
	  	margin: 16px auto;
	  	min-width: 80%;
	  	height: 150px;
	  }
	}
}

.login{

	text-align: center;
}

.page404{
	display:block;
	h1{
		font-size:50px;
		text-align:center;
	}
}