

.big-font{
	font-size:35px;
	margin-bottom:10px;
	@media #{$media-tablet} {
	  font-size:25px;
		margin-bottom:6px;
	}

	@media #{$media-phone} {
	  font-size:12px;
		margin-bottom:5px;
	}
}

.bold-font{
	font-weight:bold;
}

.wrap-p{
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;

  @media not -webkit-device-pixel-ratio {

	  overflow: hidden;
	  position: relative; 
	  line-height: 1.2em;
	  max-height: 3.6em; 
	  text-align: justify;  
	  margin-right: 1em;
	  padding-right: 1em;
  }

  @media #{$media-phone} {
	  white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	max-width: 150px;
	}
}

.wrap-title {
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

  @media not -webkit-device-pixel-ratio {

	  overflow: hidden;
	  position: relative; 
	  line-height: 1.2em;
	  max-height: 2.4em; 
	  text-align: left;  
  }
}

.google-btn{
	display: grid;
	align-items:center;
	margin:6px auto;
	width: 200px;
	height: 50px;
	background-color: #DF4A32;
	color:white;
	cursor:pointer;
	p{
		font-size:16px;
		font-weight: bold;
	}

	&:hover{
		opacity: 0.8;
	}
}

.card-container{
	width:100%;
	min-height: 270px;
	background-color:$color2;
	margin:10px;
	position:relative;
	display:grid;
	grid-template-columns:300px auto;
	box-shadow: 0px 9px 28px -3px rgba(0,0,0,0.64);
	animation: .3s ease-in-out both fade-in;

	img{
		width: 90%;
		height: 270px;
		object-fit:cover;
		margin-right:30px;
		border-radius: 0 30% 30% 0;
	}

	.info{
		padding-right: 50px;

		.more-btn{
			position:absolute;
			bottom:25px;
			right:50px;
		}
	}

	@media #{$media-tablet} {
	  grid-template-columns:200px auto;
	  min-height: 180px;
		
		img{
			height: 180px;
		}
	  .info{
	  	padding-right: 25px;
	  
		  .more-btn{
		  	right:25px;
		  	bottom:10px;
		  }
	  }
	}

	@media #{$media-phone} {
	  grid-template-columns:100px auto;
	  min-height: 90px;
		
		img{
			height: 90px;
		}

	  .info{
	  	padding-right: 10px;

		  .more-btn{
		  	right:5px;
		  	bottom:5px;
		  	font-size:$phone-font;
		  }
	  }
	}
	@for $i from 1 through 100 {
    &:nth-child(#{$i}) {
      animation-delay: $i * (.05s);
    }
	}
}
//end card-container-----------------------------

.ava{
		width: 40px;
		border-radius: 50%;
		display: inline-block;
		position:relative;

		img{
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
			width: 40px;
			border-radius: 50%;
			margin: 10px;
		}

		&:hover{
			img{
				transform: scale(1.2);
			}

			.menu-user{
				display: block;
			}
		}

		@media #{$media-phone} {
			width:30px;

			img{
				width: 30px;
			}
		}
}

.menu-user{
	position: absolute;
	display:none;
	top:50px;
	right:-15px;
	background-color: white;
	z-index:2;

	ul{
		margin:1px 5px;
		padding: 0;
	}

	li{
		display:block;

		&:hover{
			opacity: 0.5;
			cursor:pointer;
		}
	}

	li:not(:nth-child(1)){
		border-top:0.5px solid rgba(0,0,0,0.4);
	}

	@media #{$media-phone} {
		top:40px;
	}
}

.about-img{
	max-width: 30vw;
	margin: 16px;
	margin-top:0;
}

.editor-rich{
	min-width: 90%;
	background-color: white;
}


//--------Animation div loading
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);

  .sk-cube {
	  float: left;
	  width: 50%;
	  height: 50%;
	  position: relative;
	  -webkit-transform: scale(1.1);
	      -ms-transform: scale(1.1);
	          transform: scale(1.1); 
	}

	.sk-cube:before {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: #333;
	  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	          animation: sk-foldCubeAngle 2.4s infinite linear both;
	  -webkit-transform-origin: 100% 100%;
	      -ms-transform-origin: 100% 100%;
	          transform-origin: 100% 100%;
	}

	.sk-cube2 {
	  -webkit-transform: scale(1.1) rotateZ(90deg);
	          transform: scale(1.1) rotateZ(90deg);
	}

	.sk-cube3 {
	  -webkit-transform: scale(1.1) rotateZ(180deg);
	          transform: scale(1.1) rotateZ(180deg);
	}

	.sk-cube4 {
	  -webkit-transform: scale(1.1) rotateZ(270deg);
	          transform: scale(1.1) rotateZ(270deg);
	}

	.sk-cube2:before {
	  -webkit-animation-delay: 0.3s;
	          animation-delay: 0.3s;
	}

	.sk-cube3:before {
	  -webkit-animation-delay: 0.6s;
	          animation-delay: 0.6s; 
	}

	.sk-cube4:before {
	  -webkit-animation-delay: 0.9s;
	          animation-delay: 0.9s;
	}
}
